{% extends "base.html" %}
{% from 'macros/page_layout.html' import render_page_seo %}
{% from 'macros/page_builder.html' import render_page_sections %}
{% block title %}{{ page.meta_title if page else project.title }} | {{ company.name }}{% endblock %}
{% block meta_description %}{{ page.meta_description if page else project.description }}{% endblock %}
{% block body_class %}page-projects page-project-detail{% endblock %}

{% block seo_meta %}
{% set detail_og = url_for('static', filename=project.cover_image, _external=True) if project.cover_image else og_image_url %}
{{ render_page_seo(page, company, canonical_url, og_image_url, breadcrumbs, image=detail_og) }}
{% endblock %}

{% block extra_head %}
{% set site_root = url_for('main.index', _external=True) %}
{% if project.cover_image %}
<link rel="preload" as="image" href="{{ url_for('static', filename=project.cover_image) }}">
{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebPage",
      "@id": {{ (canonical_url ~ '#webpage') | tojson }},
      "url": {{ canonical_url | tojson }},
      "name": {{ (page.meta_title if page else project.title) | tojson }},
      "description": {{ (page.meta_description if page else project.description) | tojson }},
      "isPartOf": {
        "@type": "WebSite",
        "@id": {{ (site_root ~ '#website') | tojson }},
        "name": {{ company.name | tojson }},
        "url": {{ site_root | tojson }}
      }
    },
    {
      "@type": "CreativeWork",
      "@id": {{ (canonical_url ~ '#project') | tojson }},
      "name": {{ project.title | tojson }},
      "description": {{ (project.overview or project.description) | tojson }},
      "url": {{ canonical_url | tojson }},
      "dateCreated": {{ project.completion_year | tojson }},
      "locationCreated": {
        "@type": "Place",
        "name": {{ project.location | tojson }},
        "address": {
          "@type": "PostalAddress",
          "addressRegion": {{ project.county | tojson }},
          "addressCountry": "KE"
        }
      },
      "creator": {
        "@type": "GeneralContractor",
        "name": {{ company.name | tojson }},
        "telephone": {{ company.phone_primary | tojson }},
        "url": {{ site_root | tojson }}
      },
      "keywords": {{ project.category | tojson }}
    }
  ]
}
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sections-shared.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page-builder.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block content %}
{% if page_composition and page_composition.sections %}
{{ render_page_sections(page_composition.sections, page, projects, services, project) }}
{% endif %}
{% endblock %}
